
<div class="page-wrapper chiller-theme toggled">
  <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
    <i class="fas fa-bars"></i>
  </a>
  <nav id="sidebar" class="sidebar-wrapper">
    <div class="sidebar-content mb-5">
      <div class="sidebar-brand mt-5">
        <a href="#">PlaceIt</a>
        <div id="close-sidebar">
          <i class="fas fa-times"></i>
        </div>
      </div>
      <div class="sidebar-menu mt-5">
        <ul>

          <li class="sidebar-dropdown">
            <a href="#">
              <span>Peliculas</span>
            </a>
            <a href="#">
              <span>Reservaciones</span>
            </a>
          </li>
        </ul>
      </div>
      <!-- sidebar-menu  -->
    </div>
    <!-- sidebar-content  -->
  </nav>
  <!-- sidebar-wrapper  -->
  <main class="page-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-8">
          <h2>Peliculas</h2>
        </div>
        <div class="col-3">
          <button class="btn btn-info" data-toggle="modal" data-target="#exampleModal">
            Crear Pelicula
          </button>
        </div>
      </div>
      <%= render 'movies.html.erb' %>
    </div>
  </main>
  <!-- page-content" -->
</div>



<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Crear Pelicula</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <label for="exampleInputEmail1">Titulo</label>
              <input type="text" class="form-control" id="name" >
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <label for="exampleInputEmail1">Sipnosis</label>
            <input type="text" class="form-control" id="descripcion" >
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <label for="exampleInputEmail1">Imagen url</label>
            <input type="text" class="form-control" id="imagen_url" >
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <label for="exampleInputEmail1">Fechas</label>
            <input type="text" class="form-control" id="fecha" >
          </div>
        </div>
        <input type="text" class="form-control date" placeholder="Pick the multiple dates">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


<script>
  function createMovie() {
    var dataMovie =
          {
          name: $('#name').val(),
            descripcion: $('#descripcion').val(),
          imagen_url: $('#imagen_url').val(),
          fecha: $('#fecha').val(),
        }
    $.post( "ajax/test.html", {movie: dataMovie}, function( data ) {
      alert(data.msg)
    });
  }
</script>
